<plugin start="true">
    <uid>pt.uminho.ceb.biosystems.merlin.sampler</uid>
    <name>merlin-sampler</name>
    <version>4.0.05</version>
    
    <dependencies>
        <dependency uid="merlin"/>
    </dependencies>
    
    <extensions>
        <extension uid="aibench.core" name="aibench.core.operation-definition"
            class="pt.uminho.ceb.biosystems.merlin.sampler.AnnotationEnzymesParametersSetting">
            <operation-description name="SamPler"
                path="10@annotation/150@enzymes/" uid="operations.AnnotationEnzymesParametersSetting.ID" />
        </extension>
        
        <extension uid="aibench.core"
			name="aibench.core.operation-definition"
			class="pt.uminho.ceb.biosystems.merlin.sampler.AnnotationEnzymesBestAlpha">
			<operation-description name="find best alpha"
				path="" uid="operations.AnnotationEnzymesBestAlpha.ID" />
		</extension>
        
       <extension uid="aibench.workbench" name="aibench.workbench.view">
            <icon-operation operation="operations.AnnotationEnzymesParametersSetting.ID"
               icon="icons/Lifecycle/random.png" />
        </extension>
    </extensions>
</plugin>